<div id="<%= dom_id publication %>">
  <p>
    <strong>Título:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Redes Sociales:</strong>
    <%= publication.route %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= publication.price %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= publication.user_id %>
  </p>
</div>
