

<h1>Publications</h1>
<% if current_user %>
   <p>Hello <%= current_user.email %>!</p>
   <p>tu eres a [<%= current_user.rol  %>]</p>
   <% if current_user.admin? %>
   <br/>
       son <%= User.count %> usuarios en el sistema
   <% end %>
   <p>usuario autentificado</p>
   <%= link_to "Sign out", destroy_user_session_path,'data-turbo-method': :delete  %>
<% else %>
   <p>Tu no estas Conectado</p>
   <%=link_to "Registrarse", new_user_registration_path %>
   <%=link_to "Ingresar", new_user_session_path %>
<% end %>
<div id="publications">
  <% @publications.each do |publication| %>
    <%= render publication %>
    <p>
      <%= link_to "Show this publication", publication %>
    </p>
  <% end %>
</div>

<%= link_to "New publication", new_publication_path %>
